.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
SwiftFiglet/SwiftFiglet/SwiftFiglet.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SwiftFiglet/SwiftFiglet/SwiftFiglet.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
